<div>
	<form (ngSubmit)="onSubmit()" #usuarioForm="ngForm" class="editForm">
		<div class="form-group"><label>CD_USUARIO</label><input type="number" class="form-control" name="input_cd_usuario" [(ngModel)]="usuario.cd_usuario"></div>
		<div class="form-group"><label>NM_USUARIO</label><input type="text" class="form-control" name="input_nm_usuario" [(ngModel)]="usuario.nm_usuario"></div>
		<div class="form-group"><label>DS_SENHA</label><input type="text" class="form-control" name="input_ds_senha" [(ngModel)]="usuario.ds_senha"></div>
		<div class="form-group"><label>ST_USUARIO</label><input type="number" class="form-control" name="input_st_usuario" [(ngModel)]="usuario.st_usuario"></div>
		<div class="form-group"><label>CD_PESSOA</label><input type="number" class="form-control" name="input_cd_pessoa" [(ngModel)]="usuario.cd_pessoa"></div>
		<div class="form-group"><label>CD_PROFISSAO</label><input type="number" class="form-control" name="input_cd_profissao" [(ngModel)]="usuario.cd_profissao"></div>
		<div class="form-group"><label>DT_CADASTRO</label><input type="text" class="form-control" name="input_dt_cadastro" [(ngModel)]="usuario.dt_cadastro"></div>
		<div class="form-group"><label>VL_ALTERAR_SENHA</label><input type="text" class="form-control" name="input_vl_alterar_senha" [(ngModel)]="usuario.vl_alterar_senha"></div>
		<div class="form-group"><label>USUARIO_SUPERVISOR</label><input type="number" class="form-control" name="input_usuario_supervisor" [(ngModel)]="usuario.usuario_supervisor"></div>
		<div class="form-group"><label>GESTOR_QUALIDADE</label><input type="number" class="form-control" name="input_gestor_qualidade" [(ngModel)]="usuario.gestor_qualidade"></div>
	</form>
</div>