<div class="well">
	<form (ngSubmit)="onSubmit()" #veiculoForm="ngForm" class="editForm">
		<div class="form-group"><label>Código</label><input type="number" class="form-control" name="input_cd_veiculo" [(ngModel)]="veiculo.cd_veiculo"></div>
		<div class="form-group"><label>Proprietário</label><input type="number" class="form-control" name="input_cd_pessoa" [(ngModel)]="veiculo.cd_pessoa"></div>
		<div class="form-group"><label>Veículo</label><input type="text" class="form-control" name="input_nm_veiculo" [(ngModel)]="veiculo.nm_veiculo"></div>
		<div class="form-group"><label>Descrição</label><input type="text" class="form-control" name="input_ds_veiculo" [(ngModel)]="veiculo.ds_veiculo"></div>
		<div class="form-group"><label>Frota</label><input type="text" class="form-control" name="input_nr_frota" [(ngModel)]="veiculo.nr_frota"></div>
		<div class="form-group"><label>Placa veículo</label><input type="text" class="form-control" name="input_nr_placa_veiculo" [(ngModel)]="veiculo.nr_placa_veiculo"></div>
		<div class="form-group"><label>Ano veículo</label><input type="number" class="form-control" name="input_nr_ano_veiculo" [(ngModel)]="veiculo.nr_ano_veiculo"></div>
		<div class="form-group"><label>Placa reboque</label><input type="text" class="form-control" name="input_nr_placa_reboque" [(ngModel)]="veiculo.nr_placa_reboque"></div>
		<div class="form-group"><label>Descrição reboque</label><input type="text" class="form-control" name="input_ds_reboque" [(ngModel)]="veiculo.ds_reboque"></div>
		<div class="form-group"><label>Ano reboque</label><input type="number" class="form-control" name="input_nr_ano_reboque" [(ngModel)]="veiculo.nr_ano_reboque"></div>
		<div class="form-group"><label>Descrição complementar</label><input type="text" class="form-control" name="input_ds_complementar" [(ngModel)]="veiculo.ds_complementar"></div>
		<div class="form-group"><label>Situação</label><input type="number" class="form-control" name="input_st_veiculo" [(ngModel)]="veiculo.st_veiculo"></div>
		
        <button class="btn btn-raised btn-danger" (click)="btnExcluirClickHandler($event)">Excluir</button>
		<button class="btn btn-default" (click)="onCancel($event)">Cancel</button>&nbsp;&nbsp;
		<button type="submit" class="btn btn-raised btn-success" [disabled]="!veiculoForm.valid">Salvar</button>
		<div class="alert alert-danger" *ngIf="errorMessage != null">{{ errorMessage }}</div>
	</form>
</div>