<div class="panel panel-info">
	<div class="panel-heading">
		<h2 class="panel-title">Produtos da compra</h2>
	</div>
	<div class="panel-body">
		<div>
				<div class="form-group"><input type="hidden" class="form-control" name="input_cd_produto_compra" [(ngModel)]="produto_servico.cd_produto_servico"></div>
				<div class="form-group"><label>Produto</label><input type="number" class="form-control" name="input_cd_produto" [(ngModel)]="produto_servico.cd_produto"></div>
				<div class="form-group"><input type="hidden" class="form-control" name="input_cd_compra" [(ngModel)]="produto_servico.cd_servico"></div>
				<div class="form-group"><label>Quantidade</label><input type="number" class="form-control" name="input_nr_quantidade" [(ngModel)]="produto_servico.nr_quantidade"></div>
				<div class="form-group"><label>Valor</label><input type="number" class="form-control" name="input_vl_produto_unitario" [(ngModel)]="produto_servico.vl_unitario"></div>
				<a (click)="btnExcluirClickHandler($event)" class="btn btn-raised btn-danger">Excluir item</a>
				<a (click)="btnCancelarClickHandler($event)" class="btn btn-default">Cancelar</a>&nbsp;&nbsp;
          		<a (click)="addItemLista($event)" class="btn btn-raised btn-success">Salvar item</a>
				<a (click)="btnNovoClickHandler($event)" class="btn btn-raised btn-default">Novo item</a>
		</div>
		<br/>
		<div class="table">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th sort-by="cd_produto" (sorted)="sort($event)">Produto</th>
						<th sort-by="nr_quantidade" (sorted)="sort($event)">Quantidade</th>
						<th sort-by="vl_produto_compra" (sorted)="sort($event)">Valor unitário</th>
						<th sort-by="vl_produto_compra" (sorted)="sort($event)">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let itemProduto_servico of listaProdutoServico;">
						<td>{{ itemProduto_servico.cd_produto}}</td>
						<td>{{ itemProduto_servico.nr_quantidade}}</td>
						<td>{{ itemProduto_servico.vl_unitario}}</td>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>