<div class="well">
	<form (ngSubmit)="onSubmit()" #servicoForm="ngForm" class="editForm">
		<div class="form-group"><label>Código</label><input type="number" class="form-control" name="input_cd_servico" [(ngModel)]="servico.cd_servico"></div>
		<div class="form-group"><label>Pessoa</label><input type="number" class="form-control" name="input_cd_pessoa" [(ngModel)]="servico.cd_pessoa"></div>
		<div class="form-group"><label>Veículo</label><input type="number" class="form-control" name="input_cd_veiculo" [(ngModel)]="servico.cd_veiculo"></div>
		<div class="form-group"><label>Início</label><input type="text" class="form-control" name="input_dt_inicio" [(ngModel)]="servico.dt_inicio"></div>
		<div class="form-group"><label>Término</label><input type="text" class="form-control" name="input_dt_termino" [(ngModel)]="servico.dt_termino"></div>
		<div class="form-group"><label>Descrição</label><input type="text" class="form-control" name="input_ds_servico" [(ngModel)]="servico.ds_servico"></div>
		<div class="form-group"><label>Total</label><input type="number" class="form-control" name="input_vl_total" [(ngModel)]="servico.vl_total"></div>
		<br/>
		<servico-dados-produtos [(lista-dados)]="servico.listaProdutos_servico"></servico-dados-produtos>
		<br/>
		<button class="btn btn-raised btn-danger" (click)="btnExcluirClickHandler($event)">Excluir</button>
		<button class="btn btn-default" (click)="onCancel($event)">Cancel</button>&nbsp;&nbsp;
		<button type="submit" class="btn btn-raised btn-success" [disabled]="!servicoForm.valid">Salvar</button>
		<div class="alert alert-danger" *ngIf="errorMessage != null">{{ errorMessage }}</div>
	</form>
</div>