<div class="well" *ngIf="servico">
	<div class="table">
		<table class="table table-striped table-hover">
			<tbody>

                <tr>
					<td class="col-md-2">
						<h5>cd_servico</h5>
					</td>
					<td>{{ servico.cd_servico}}</td>
				</tr>
				<tr>
					<td class="col-md-2">
						<h5>cd_pessoa</h5>
					</td>
					<td>{{ servico.cd_pessoa}}</td>
				</tr>
				<tr>
					<td class="col-md-2">
						<h5>cd_veiculo</h5>
					</td>
					<td>{{ servico.cd_veiculo}}</td>
				</tr>
				<tr>
					<td class="col-md-2">
						<h5>dt_inicio</h5>
					</td>
					<td>{{ servico.dt_inicio}}</td>
				</tr>
				<tr>
					<td class="col-md-2">
						<h5>dt_termino</h5>
					</td>
					<td>{{ servico.dt_termino}}</td>
				</tr>
				<tr>
					<td class="col-md-2">
						<h5>ds_servico</h5>
					</td>
					<td>{{ servico.ds_servico}}</td>
				</tr>
				<tr>
					<td class="col-md-2">
						<h5>vl_total</h5>
					</td>
					<td>{{ servico.vl_total}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	