<header class="l-header v-center-parent" *ngIf="menu_visivel">
    <!--<div class="navbar-header" *ngIf="menu_visivel" style="padding-right=10px;">-->
    <ul class="nav navbar-nav navbar-left">
        <li ui-sref-active="active">
            <a [routerLink]="['/home']">
                
                <span class="glyphicon glyphicon-home"></span>
                <span class="hidden-sm">Início</span>
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active">
            <a [routerLink]="['/pessoa']">
                
                <span class="glyphicon glyphicon-user"></span>
                <span class="hidden-sm">Pessoas</span>
            </a>
        </li>
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        <li uib-dropdown class="dropdown pointer">
            <a [routerLink]="['/servico']">
                <span>
                    <span class="glyphicon glyphicon-wrench"></span>
                    <span class="hidden-sm">
                        Serviços
                    </span>
                </span>
            </a>
        </li>
        <li ui-sref-active="active" uib-dropdown class="dropdown pointer">
            <a [routerLink]="['/compra']">
                <span>
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span class="hidden-sm">Compras</span>
                </span>
            </a>
        </li>
        <li ui-sref-active="active" uib-dropdown class="dropdown pointer">
            <a [routerLink]="['/produto']">
                <span>
                    <span class="glyphicon glyphicon-tags"></span>
                    <span class="hidden-sm">Produto</span>
                </span>
            </a>
        </li>
        <li ui-sref-active="active" uib-dropdown class="dropdown pointer">
            <a [routerLink]="['/manager']">
                <span>
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="hidden-sm">Gerenciar</span>
                </span>
            </a>
        </li>
    </ul>
<!--</div>-->
</header>