<header>
        <h3><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;Registros dos serviços</h3>
</header> <br />
<div class="table">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th sort-by="cd_servico" (sorted)="sort($event)">Código</th>
				<th sort-by="cd_pessoa" (sorted)="sort($event)">Pessoa</th>
				<th sort-by="cd_veiculo" (sorted)="sort($event)">Veículo</th>
				<th sort-by="dt_inicio" (sorted)="sort($event)">Inicio</th>
				<th sort-by="dt_termino" (sorted)="sort($event)">Término</th>
				<th sort-by="ds_servico" (sorted)="sort($event)">Descrição</th>
				<th sort-by="vl_total" (sorted)="sort($event)">Total</th>
				<th sort-by="vl_total" (sorted)="sort($event)">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let itemServico of listaDadosServ;">
				<td>{{ itemServico.cd_servico}}</td>
				<td>{{ itemServico.cd_pessoa}}</td>
				<td>{{ itemServico.cd_veiculo}}</td>
				<td>{{ itemServico.dt_inicio}}</td>
				<td>{{ itemServico.dt_termino}}</td>
				<td>{{ itemServico.ds_servico}}</td>
				<td>{{ itemServico.vl_total}}</td>
				<td><a [routerLink]="['/dados-servico',itemServico.cd_servico,'details']">Detalhes</a></td>
			</tr>
			<tr *ngIf="!listaDadosServ.length">
				<td>&nbsp;</td>
				<td colspan="6">No Records Found</td>
			</tr>
		</tbody>
	</table>
</div>

<div style="bottom: 80px; position: fixed; margin: 1em;">
	<a class="btn btn-primary btn-fab" [routerLink]="['/dados-servico',-1,'edit']">
		<i class="material-icons">add</i>
	</a>
</div>