        <div class="card col-md-8">

			<h1>Bem vindo ao CheckApp!</h1>
			<p class="lead">Life Software Development</p>
			<div>
				<div>
					<div class="alert alert-success">
						Seja bem vindo<!--{{controleApp.getUsuario().nm_usuario}}-->
					</div>

					<div class="alert alert-dismissible alert-info">
						Utilize o menu para navegar entre os programas. Na aba Pessoas há registros de clientes e fornecedores, compras e serviços
						prestados. Na aba Serviços os registros em aberto estão em destaque. Na aba Compras é efetuada a entrada de produtos
						e compras, para entrada em estoque.
					</div>
				</div>

				<p>
					Se houver dúvidas sobre o CheckApp:
				</p>

				<ul>
					<li><a href="http://jhipster.github.io/">CheckApp homepage</a></li>
					<li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank">CheckApp on Stack Overflow</a></li>
					<li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" translate="home.link.bugtracker">Contato com suporte técnico</a></li>
					<li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" translate="home.link.chat">Enviar mensagem agora mesmo!</a></li>
				</ul>
			</div>
		</div>

        
		<div class="card col-md-8" style="padding-bottom: 80px;">
        <!--<div>
            <h1>Lista de programas</h1>
        </div>

			<p><a [routerLink]="['/acao_corretiva']">Acao_corretiva</a></p>
			<p><a [routerLink]="['/acao_corretiva_formulario']">Acao_corretiva_formulario</a></p>
			<p><a [routerLink]="['/acao_corretiva_helpdesk']">Acao_corretiva_helpdesk</a></p>
			<p><a [routerLink]="['/acao_corretiva_pa']">Acao_corretiva_pa</a></p>
			<p><a [routerLink]="['/acao_plano_acao_hp']">Acao_plano_acao_hp</a></p>
			<p><a [routerLink]="['/acao_preventiva']">Acao_preventiva</a></p>
			<p><a [routerLink]="['/acao_preventiva_formulario']">Acao_preventiva_formulario</a></p>
			<p><a [routerLink]="['/acao_preventiva_pa']">Acao_preventiva_pa</a></p>
			<p><a [routerLink]="['/anexo']">Anexo</a></p>
			<p><a [routerLink]="['/atividade_acao_pl_hp']">Atividade_acao_pl_hp</a></p>
			<p><a [routerLink]="['/atividade_plano_acao']">Atividade_plano_acao</a></p>
			<p><a [routerLink]="['/atividades']">Atividades</a></p>
			<p><a [routerLink]="['/atividades_acao_imediata']">Atividades_acao_imediata</a></p>
			<p><a [routerLink]="['/atividades_cronograma_manutencao']">Atividades_cronograma_manutencao</a></p>
			<p><a [routerLink]="['/atividades_manutencao']">Atividades_manutencao</a></p>
			<p><a [routerLink]="['/atv_exec_manutencao']">Atv_exec_manutencao</a></p>
			<p><a [routerLink]="['/auditoria']">Auditoria</a></p>
			<p><a [routerLink]="['/avaliacao_ideia']">Avaliacao_ideia</a></p>
			<p><a [routerLink]="['/avaliacao_reuniao']">Avaliacao_reuniao</a></p>
			<p><a [routerLink]="['/bug_report']">Bug_report</a></p>
			<p><a [routerLink]="['/campo']">Campo</a></p>
			<p><a [routerLink]="['/campo_agrupador']">Campo_agrupador</a></p>
			<p><a [routerLink]="['/campo_formulario']">Campo_formulario</a></p>
			<p><a [routerLink]="['/campo_indicador']">Campo_indicador</a></p>
			<p><a [routerLink]="['/candidato']">Candidato</a></p>
			<p><a [routerLink]="['/categoria_ishikawa']">Categoria_ishikawa</a></p>
			<p><a [routerLink]="['/categoria_ocorrencia']">Categoria_ocorrencia</a></p>
			<p><a [routerLink]="['/causa_efeito']">Causa_efeito</a></p>
			<p><a [routerLink]="['/checagem_documento']">Checagem_documento</a></p>
			<p><a [routerLink]="['/classificacao_auditoria']">Classificacao_auditoria</a></p>
			<p><a [routerLink]="['/classificacao_helpdesk']">Classificacao_helpdesk</a></p>
			<p><a [routerLink]="['/classificacao_ouvidoria']">Classificacao_ouvidoria</a></p>
			<p><a [routerLink]="['/cliente']">Cliente</a></p>
			<p><a [routerLink]="['/compra']">Compra</a></p>
			<p><a [routerLink]="['/conclusao_auditoria']">Conclusao_auditoria</a></p>
			<p><a [routerLink]="['/condicao']">Condicao</a></p>
			<p><a [routerLink]="['/config_campo_formulario']">Config_campo_formulario</a></p>
			<p><a [routerLink]="['/config_campo_pesquisa']">Config_campo_pesquisa</a></p>
			<p><a [routerLink]="['/config_envio_indicadores']">Config_envio_indicadores</a></p>
			<p><a [routerLink]="['/config_impressao']">Config_impressao</a></p>
			<p><a [routerLink]="['/config_indicadores']">Config_indicadores</a></p>
			<p><a [routerLink]="['/config_pesquisa']">Config_pesquisa</a></p>
			<p><a [routerLink]="['/config_sistema']">Config_sistema</a></p>
			<p><a [routerLink]="['/configuracao_helpdesk']">Configuracao_helpdesk</a></p>
			<p><a [routerLink]="['/configuracao_ouvidoria']">Configuracao_ouvidoria</a></p>
			<p><a [routerLink]="['/container_principal']">Container_principal</a></p>
			<p><a [routerLink]="['/cronograma_auditoria']">Cronograma_auditoria</a></p>
			<p><a [routerLink]="['/cronograma_manutencao']">Cronograma_manutencao</a></p>
			<p><a [routerLink]="['/descricao_funcional']">Descricao_funcional</a></p>
			<p><a [routerLink]="['/descritivo_treinamento']">Descritivo_treinamento</a></p>
			<p><a [routerLink]="['/diagrama_helpdesk']">Diagrama_helpdesk</a></p>
			<p><a [routerLink]="['/doc_descritivo_treinamento']">Doc_descritivo_treinamento</a></p>
			<p><a [routerLink]="['/doc_revisao_formulario']">Doc_revisao_formulario</a></p>
			<p><a [routerLink]="['/documento']">Documento</a></p>
			<p><a [routerLink]="['/documento_pic']">Documento_pic</a></p>
			<p><a [routerLink]="['/empresa']">Empresa</a></p>
			<p><a [routerLink]="['/endereco']">Endereco</a></p>
			<p><a [routerLink]="['/equipamento']">Equipamento</a></p>
			<p><a [routerLink]="['/equipe_cronograma_auditoria']">Equipe_cronograma_auditoria</a></p>
			<p><a [routerLink]="['/escala_tempo']">Escala_tempo</a></p>
			<p><a [routerLink]="['/escalonamento_formulario']">Escalonamento_formulario</a></p>
			<p><a [routerLink]="['/escalonamento_usuario']">Escalonamento_usuario</a></p>
			<p><a [routerLink]="['/espelho']">Espelho</a></p>
			<p><a [routerLink]="['/estado']">Estado</a></p>
			<p><a [routerLink]="['/evento_campanha']">Evento_campanha</a></p>
			<p><a [routerLink]="['/evidencia_helpdesk']">Evidencia_helpdesk</a></p>
			<p><a [routerLink]="['/evidencia_resposta_exec']">Evidencia_resposta_exec</a></p>
			<p><a [routerLink]="['/exame_funcao']">Exame_funcao</a></p>
			<p><a [routerLink]="['/exame_medico']">Exame_medico</a></p>
			<p><a [routerLink]="['/execucao_auditoria']">Execucao_auditoria</a></p>
			<p><a [routerLink]="['/execucao_formulario']">Execucao_formulario</a></p>
			<p><a [routerLink]="['/executar_manutencao']">Executar_manutencao</a></p>
			<p><a [routerLink]="['/executar_reuniao']">Executar_reuniao</a></p>
			<p><a [routerLink]="['/fabricante']">Fabricante</a></p>
			<p><a [routerLink]="['/faixa_class_auditoria']">Faixa_class_auditoria</a></p>
			<p><a [routerLink]="['/fiscal_sif']">Fiscal_sif</a></p>
			<p><a [routerLink]="['/fluxograma']">Fluxograma</a></p>
			<p><a [routerLink]="['/formulario']">Formulario</a></p>
			<p><a [routerLink]="['/formulario_indicador']">Formulario_indicador</a></p>
			<p><a [routerLink]="['/funcao_usuario']">Funcao_usuario</a></p>
			<p><a [routerLink]="['/grupo_auditoria']">Grupo_auditoria</a></p>
			<p><a [routerLink]="['/grupo_formulario']">Grupo_formulario</a></p>
			<p><a [routerLink]="['/grupo_usuario']">Grupo_usuario</a></p>
			<p><a [routerLink]="['/grupo_usuario_programa']">Grupo_usuario_programa</a></p>
			<p><a [routerLink]="['/helpdesk_ocorrencia']">Helpdesk_ocorrencia</a></p>
			<p><a [routerLink]="['/ideia_reuniao_pic']">Ideia_reuniao_pic</a></p>
			<p><a [routerLink]="['/indicador_customizado']">Indicador_customizado</a></p>
			<p><a [routerLink]="['/lista_modulos']">Lista_modulos</a></p>
			<p><a [routerLink]="['/log_documento']">Log_documento</a></p>
			<p><a [routerLink]="['/manutencao_preventiva']">Manutencao_preventiva</a></p>
			<p><a [routerLink]="['/mapa_formulario']">Mapa_formulario</a></p>
			<p><a [routerLink]="['/menu']">Menu</a></p>
			<p><a [routerLink]="['/menu_indicadores']">Menu_indicadores</a></p>
			<p><a [routerLink]="['/modulo']">Modulo</a></p>
			<p><a [routerLink]="['/modulo_indicadores']">Modulo_indicadores</a></p>
			<p><a [routerLink]="['/municipio']">Municipio</a></p>
			<p><a [routerLink]="['/natureza_ocorrencia']">Natureza_ocorrencia</a></p>
			<p><a [routerLink]="['/notificacao']">Notificacao</a></p>
			<p><a [routerLink]="['/notificacao_automatica']">Notificacao_automatica</a></p>
			<p><a [routerLink]="['/notificacao_grupo_usuario']">Notificacao_grupo_usuario</a></p>
			<p><a [routerLink]="['/notificacao_plano_acao']">Notificacao_plano_acao</a></p>
			<p><a [routerLink]="['/notificacao_usuario']">Notificacao_usuario</a></p>
			<p><a [routerLink]="['/ocorrencia']">Ocorrencia</a></p>
			<p><a [routerLink]="['/ocorrencia_ouvidoria']">Ocorrencia_ouvidoria</a></p>
			<p><a [routerLink]="['/ocorrencia_periodicidade']">Ocorrencia_periodicidade</a></p>
			<p><a [routerLink]="['/operacao_notificacao']">Operacao_notificacao</a></p>
			<p><a [routerLink]="['/pais']">Pais</a></p>
			<p><a [routerLink]="['/participantes_reuniao']">Participantes_reuniao</a></p>
			<p><a [routerLink]="['/participantes_reuniao_pic']">Participantes_reuniao_pic</a></p>
			<p><a [routerLink]="['/participantes_treinamento']">Participantes_treinamento</a></p>
			<p><a [routerLink]="['/pergunta_auditoria']">Pergunta_auditoria</a></p>
			<p><a [routerLink]="['/pergunta_avaliacao_ideia']">Pergunta_avaliacao_ideia</a></p>
			<p><a [routerLink]="['/periodicidade']">Periodicidade</a></p>
			<p><a [routerLink]="['/permissao_acesso']">Permissao_acesso</a></p>
			<p><a [routerLink]="['/permissao_acesso_documento']">Permissao_acesso_documento</a></p>
			<p><a [routerLink]="['/permissao_indicador']">Permissao_indicador</a></p>
			<p><a [routerLink]="['/permissao_menu_indicadores']">Permissao_menu_indicadores</a></p>
			<p><a [routerLink]="['/permissao_padrao']">Permissao_padrao</a></p>
			<p><a [routerLink]="['/pessoa']">Pessoa</a></p>
			<p><a [routerLink]="['/pessoa_juridica']">Pessoa_juridica</a></p>
			<p><a [routerLink]="['/pic']">Pic</a></p>
			<p><a [routerLink]="['/plano_acao']">Plano_acao</a></p>
			<p><a [routerLink]="['/plano_acao_auditoria']">Plano_acao_auditoria</a></p>
			<p><a [routerLink]="['/plano_acao_formulario']">Plano_acao_formulario</a></p>
			<p><a [routerLink]="['/plano_acao_hp']">Plano_acao_hp</a></p>
			<p><a [routerLink]="['/plano_acao_nc']">Plano_acao_nc</a></p>
			<p><a [routerLink]="['/plano_acao_ocorrencia']">Plano_acao_ocorrencia</a></p>
			<p><a [routerLink]="['/planos_cronograma_auditoria']">Planos_cronograma_auditoria</a></p>
			<p><a [routerLink]="['/ponto_mapa']">Ponto_mapa</a></p>
			<p><a [routerLink]="['/pre_avaliacao_ideia_pic']">Pre_avaliacao_ideia_pic</a></p>
			<p><a [routerLink]="['/processo_fluxo']">Processo_fluxo</a></p>
			<p><a [routerLink]="['/produto']">Produto</a></p>
			<p><a [routerLink]="['/produto_compra']">Produto_compra</a></p>
			<p><a [routerLink]="['/produto_servico']">Produto_servico</a></p>
			<p><a [routerLink]="['/profissao']">Profissao</a></p>
			<p><a [routerLink]="['/programa']">Programa</a></p>
			<p><a [routerLink]="['/programa_qualidade']">Programa_qualidade</a></p>
			<p><a [routerLink]="['/proposta_candidato']">Proposta_candidato</a></p>
			<p><a [routerLink]="['/registro_treinamento']">Registro_treinamento</a></p>
			<p><a [routerLink]="['/resolucao_ocorrencia']">Resolucao_ocorrencia</a></p>
			<p><a [routerLink]="['/resposta_auditoria']">Resposta_auditoria</a></p>
			<p><a [routerLink]="['/resposta_campo_formulario']">Resposta_campo_formulario</a></p>
			<p><a [routerLink]="['/resposta_exec_auditoria']">Resposta_exec_auditoria</a></p>
			<p><a [routerLink]="['/resposta_exec_formulario']">Resposta_exec_formulario</a></p>
			<p><a [routerLink]="['/reuniao']">Reuniao</a></p>
			<p><a [routerLink]="['/reuniao_pic']">Reuniao_pic</a></p>
			<p><a [routerLink]="['/revisao_programa_qualidade']">Revisao_programa_qualidade</a></p>
			<p><a [routerLink]="['/servico']">Servico</a></p>
			<p><a [routerLink]="['/setor']">Setor</a></p>
			<p><a [routerLink]="['/sistema']">Sistema</a></p>
			<p><a [routerLink]="['/sub_formulario']">Sub_formulario</a></p>
			<p><a [routerLink]="['/tabela']">Tabela</a></p>
			<p><a [routerLink]="['/tipo_campo']">Tipo_campo</a></p>
			<p><a [routerLink]="['/tipo_notificacao']">Tipo_notificacao</a></p>
			<p><a [routerLink]="['/tipo_turno']">Tipo_turno</a></p>
			<p><a [routerLink]="['/treinamento_funcao']">Treinamento_funcao</a></p>
			<p><a [routerLink]="['/unidade']">Unidade</a></p>
			<p><a [routerLink]="['/usuario']">Usuario</a></p>
			<p><a [routerLink]="['/usuario_grupo_usuario']">Usuario_grupo_usuario</a></p>
			<p><a [routerLink]="['/usuario_setor']">Usuario_setor</a></p>
			<p><a [routerLink]="['/veiculo']">Veiculo</a></p>
-->
			<p><a [routerLink]="['/mapas_ponto']">Mapa de ponto</a></p>
			<p><a [routerLink]="['/mapas_cluster']">Mapa em cluster</a></p>
			<p><a [routerLink]="['/mapas_calor']">Mapa de calor</a></p>
			<p><a [routerLink]="['/rota_destino']">Rota ao destino</a></p>
		</div>