<div class="well" *ngIf="compra">
	<div class="table">
		<table class="table table-striped table-hover">
			<tbody>
				<tr>
					<td class="col-md-2">
						<h5>Código</h5>
					</td>
					<td>{{ compra.cd_compra}}</td>
				</tr>
				<tr>
					<td class="col-md-2">
						<h5>Fornecedor</h5>
					</td>
					<td>{{ compra.cd_pessoa}}</td>
				</tr>
				<tr>
					<td class="col-md-2">
						<h5>Nota fiscal</h5>
					</td>
					<td>{{ compra.nr_nota_fiscal}}</td>
				</tr>
				<tr>
					<td class="col-md-2">
						<h5>Data da compra</h5>
					</td>
					<td>{{ compra.dt_compra}}</td>
				</tr>
				<tr>
					<td class="col-md-2">
						<h5>Data da entrada</h5>
					</td>
					<td>{{ compra.dt_entrada_produto}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="table">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th sort-by="cd_produto_compra" (sorted)="sort($event)">cd_produto_compra</th>
				<th sort-by="cd_produto" (sorted)="sort($event)">cd_produto</th>
				<th sort-by="cd_compra" (sorted)="sort($event)">cd_compra</th>
				<th sort-by="nr_quantidade" (sorted)="sort($event)">nr_quantidade</th>
				<th sort-by="vl_produto_compra" (sorted)="sort($event)">vl_produto_compra</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let itemProduto_compra of listaProdutoCompra;">
				<td>{{ itemProduto_compra.cd_produto_compra}}</td>
				<td>{{ itemProduto_compra.cd_produto}}</td>
				<td>{{ itemProduto_compra.cd_compra}}</td>
				<td>{{ itemProduto_compra.nr_quantidade}}</td>
				<td>{{ itemProduto_compra.vl_produto_compra}}</td>
			</tr>
		</tbody>
	</table>
</div>